// Imports
@import "partials/reset.scss";
@import "partials/_general_styles.scss";
@import "partials/clearfix.scss";


// 1. Many small items in a grid
.block.small-grid.small-grid-flexbox{
	background-color: red;

 ul{
  display: flex;
  width: 400px;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

 }

 li{
  width: 38px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  }

@media screen and (max-width: 899px){
   ul{
  margin: 0;
  width: 100%;

 }

li{
  width: 9%;
  height: 30px;

  }
}

}
// 2. 2-Column Grid
.block.two-col-grid.two-col-grid-flexbox{
	display: flex;
	flex-direction: row-reverse;
	.column-1{
		width: 50%;
		height: 50%;
	}
	.column-2{
	width: 50%;
	}
}

// 3. Centering


.block.centering-formula.centering-formula-1 {
	background-color: tomato;
	display: flex;
	justify-content: center;
	align-items: center;;
}

.block.centering-formula.centering-formula-2 {
	background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
}


// 4. Ordering

.block.ordering-block{
	background-color: gold;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
.item.item-d{
	background-color: gold;
	width: 18%;
}

.item.item-c {
	width: 22.5%
}

.item.item-b {
	width: 10%
}

@media screen and (max-width: 1200px) {
	background-color: aqua;
	flex-direction: initial;
	justify-content: center;
}
@media screen and (max-width: 900px) {
	flex-direction: column;
	.item.item-c{
		order: -2;
		width: initial;
	}
	.item.item-b {
		order: -1;
		width: initial;
	}
	.item.item-d{
		width: initial;
	}
}
}